<section id="Projects" class="flex-row anchor">
  <header>
    <h2>Projects</h2>
  </header>
  <div class="project-list">
    <ul>
      <li class="project-item fly-in">
        <article>
          <img src="/images/previews/blog-pre.webp" alt="Private Blog Preview">
          <div class="project-details">
            <h3>Private Blog</h3>
            <p>This small blog software, developed with Symfony and PHP 8, allows you to write and publish blog posts. Users can register, comment on posts and take part in discussions.</p>
            <div class="project-links flex-row">
              <a href="https://blog.seip.io" class="btn btn-primary outlined">Visit</a>
              <a href="https://github.com/ChristianSeip/Blog" class="btn btn-secondary outlined">GitHub</a>
            </div>
            <ul class="skill-label-list inline-list">
              <li class="skill-label">PHP 8</li>
              <li class="skill-label">Symfony</li>
              <li class="skill-label">HTML</li>
              <li class="skill-label">CSS</li>
              <li class="skill-label">JavaScript</li>
            </ul>
          </div>
        </article>
      </li>
      <li class="project-item fly-in">
        <article>
          <img src="/images/previews/portfolio-pre.webp" alt="Portfolio Website Preview">
          <div class="project-details">
            <h3>My Portfolio</h3>
            <p>My portfolio page, where you are currently located. This was developed as a single page application with Angular.</p>
            <div class="project-links flex-row">
              <a href="https://github.com/ChristianSeip/Portfolio-Website" class="btn btn-secondary outlined">GitHub</a>
            </div>
            <ul class="skill-label-list inline-list">
              <li class="skill-label">Angular</li>
              <li class="skill-label">TypeScript</li>
              <li class="skill-label">HTML</li>
              <li class="skill-label">CSS</li>
              <li class="skill-label">PHP 8</li>
            </ul>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
