.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--header-height));
  position: fixed;
}

@media (max-width: 768px) {
  .social-links {
    display: none;
  }
}
